* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

header {
  position: relative;
  width: 100%;
  height: 100%;
}

.head {
  position: relative;
}

.header {
  position: relative;
}

.header__icons:hover {
  cursor: pointer;
}

.header__menu {
  font-family: 'Montserrat';
}

.header__menu-paragraph:hover {
  color: #c7b299;
}

.header__menu a {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  padding: 0px 5px;
}

.header__menu a:hover {
  cursor: pointer;
}

.header__menu-mobile {
  display: none;
}

.header__nav {
  display: block;
  position: absolute;
  left: 50%;
  top: 1em;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header__nav-block {
  width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 969px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("./../img/header/header_photo.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url("./../img/header/header_photo.jpg");
  background-size: cover;
  background-position: center;
  -webkit-transition: left 5s cubic-bezier(0, 0.5, 0.5, 1);
  transition: left 5s cubic-bezier(0, 0.5, 0.5, 1);
}

.header__block-logo:hover {
  cursor: pointer;
}

.header__above-text {
  font-family: 'Raleway';
  font-size: 36px;
  font-weight: 400;
}

.header__title-text {
  font-family: 'Raleway Extra Bold';
  font-size: 52px;
  font-weight: 400;
}

.header__subtext {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
}

.header__btn {
  font-family: "Raleway Extra Bold";
  margin-top: 50px;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  background-color: #998675;
}

.header__btn:hover {
  cursor: pointer;
}

.slider {
  text-align: center;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  bottom: 1em;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.slider-dots:hover {
  cursor: pointer;
}

.dot {
  width: 9px;
  height: 9px;
  background-color: #969494;
  border-radius: 50%;
  margin-right: 8px;
}

.dot-active {
  width: 13px;
  height: 13px;
  border: 2px solid #d3c1ad;
  background-color: transparent;
}

.prev {
  position: absolute;
  top: 28em;
  left: 5%;
}

.prev:hover {
  cursor: pointer;
}

.next {
  position: absolute;
  top: 28em;
  right: 5%;
}

.next:hover {
  cursor: pointer;
}

.arrow-left {
  width: 40px;
  height: 73px;
  background: url("./../img/header/arrow_left.png");
}

.arrow-right {
  width: 40px;
  height: 73px;
  background: url("./../img/header/arrow_right.png");
}

.background__two {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("./../img/header/header_photo_2.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url("./../img/header/header_photo_2.jpg");
}

.background__three {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("./../img/header/header_photo_3.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3)), url("./../img/header/header_photo_3.jpg");
}

.background__four {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2))), url("./../img/header/header_photo_4.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2)), url("./../img/header/header_photo_4.jpg");
}

.background__five {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2))), url("./../img/header/header_photo_5.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2)), url("./../img/header/header_photo_5.jpg");
}

.menu {
  display: none;
}

.menu-item {
  font-size: 20px;
  line-height: 4;
  font-weight: 100;
  color: #ffffff;
}

.menu-link {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 100;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.menu-link span {
  display: block;
  height: 3px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #2d2d2d;
}

.menu-link span:before {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  height: 3px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  content: '';
  margin-top: -8px;
  background-color: #2d2d2d;
}

.menu-link span:after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
  height: 3px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  content: '';
  margin-top: 4px;
  background-color: #2d2d2d;
}

@media (max-width: 1024px) {
  .header__menu a {
    font-size: 12px;
  }
  .header__nav-block {
    width: 768px;
  }
  .header__block {
    background-position: center;
  }
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
  .header__icons {
    display: none;
  }
  .header__nav-block {
    width: 425px;
  }
  .menu-link {
    display: block;
  }
  .next {
    top: 34em;
  }
  .prev {
    top: 34em;
  }
}

@media (max-width: 425px) {
  .header__above-text {
    font-size: 20px;
  }
  .header__nav-block {
    width: 300px;
  }
  .header__title-text {
    font-size: 30px;
  }
  .header__block {
    height: 600px;
  }
  .header__subtext {
    padding: 10px;
  }
  .prev {
    display: none;
  }
  .next {
    display: none;
  }
  .slider-dots {
    bottom: 8em;
  }
}

.opportunities__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.opportunities__icon {
  width: 44px;
  height: 40px;
}

.opportunities__blocks-one::before {
  content: '';
  width: 44px;
  height: 40px;
  margin: auto;
  display: block;
  background: url("../img/opportunities/icon__1.0.png");
}

.opportunities__blocks-one:hover::before {
  background: url("../img/opportunities/icon__1.1.png");
}

.opportunities__blocks-two::before {
  content: '';
  width: 44px;
  height: 40px;
  margin: auto;
  display: block;
  background: url("../img/opportunities/icon__2.0.png");
}

.opportunities__blocks-two:hover::before {
  background: url("../img/opportunities/icon__2.1.png");
}

.opportunities__blocks-three::before {
  content: '';
  width: 44px;
  height: 40px;
  margin: auto;
  display: block;
  background: url("../img/opportunities/icon__3.0.png");
}

.opportunities__blocks-three:hover::before {
  background: url("../img/opportunities/icon__3.1.png");
}

.opportunities__blocks-four::before {
  content: '';
  width: 44px;
  height: 40px;
  margin: auto;
  display: block;
  background: url("../img/opportunities/icon__4.0.png");
}

.opportunities__blocks-four:hover::before {
  background: url("../img/opportunities/icon__4.1.png");
}

.opportunities__blocks:hover {
  cursor: pointer;
  color: #c7b299;
}

.opportunities__blocks::after {
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: auto;
}

.opportunities__blocks:hover::after {
  background-color: #c7b299;
}

.opportunities__title {
  font-family: 'Raleway Semibold';
  font-size: 22px;
  font-weight: 400;
}

.opportunities__text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #8c8c8c;
  margin: 23px;
}

@media (max-width: 768px) {
  .opportunities__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .opportunities__blocks {
    padding-top: 20px;
  }
}

.idea {
  background-color: #fbfaf8;
  text-align: center;
}

.idea__wrap {
  padding-top: 80px;
}

.idea__title {
  font-family: 'Raleway Semibold';
  color: #555555;
  font-size: 30px;
  font-weight: 400;
}

.idea__text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #8c8c8c;
  margin-top: 25px;
  margin-bottom: 40px;
  margin-right: 250px;
  margin-left: 250px;
}

.idea__photo-slide {
  margin-bottom: -4px;
}

@media (max-width: 1440px) {
  .idea__photo-slide {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .idea__photo-slide {
    width: 425px;
  }
  .idea__text {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 425px) {
  .idea__photo-slide {
    width: 300px;
  }
  .idea__text {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.wordpress {
  background: url("../img/wp/wp_back.png");
}

.wordpress__wraps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.wp__title {
  font-family: 'Raleway';
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
}

.wp__text {
  font-family: 'Montserrat';
  color: #615855;
  font-size: 18px;
  font-weight: 300;
}

.wp__button {
  font-family: 'Raleway Extra Bold';
  padding: 15px 29px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  border: none;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  background-color: #998675;
  text-transform: uppercase;
}

.wp__button:hover {
  cursor: pointer;
}

@media (max-width: 1440px) {
  .wordpress__wraps {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1024px) {
  .wordpress__wraps {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wp__button {
    margin-top: 20px;
  }
  .wp__text {
    padding-bottom: 0px;
  }
}

.latest__projects-wrap {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 80px;
}

.latest__projects-title {
  font-family: 'Raleway Semibold';
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #555555;
}

.latest__projects-subtitle {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-top: 18px;
  margin-left: 250px;
  margin-right: 250px;
  color: #8c8c8c;
}

.latest__projects-photo:hover {
  cursor: pointer;
}

.latest__projects-photo:hover .src-img {
  opacity: 1;
}

.latest__projects-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.latest__projects-download {
  font-family: 'Raleway Extra Bold';
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  background-color: #998675;
  text-transform: uppercase;
  border: none;
  -webkit-box-shadow: inset 0 -3px 0 #736357;
          box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  padding: 10px 40px;
}

.latest__projects-download:hover {
  cursor: pointer;
}

.latest__projects-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 10px;
}

.latest__projects-block {
  padding: 10px;
  position: relative;
}

.latest__projects-block:after {
  content: '';
  position: absolute;
  bottom: 83px;
  left: 7%;
  border: 20px solid transparent;
  border-bottom: 20px solid #fbfaf8;
}

.latest__projects-block:hover::after {
  display: none;
}

.latest__projects-block:hover .latest__projects-description {
  cursor: pointer;
  background-color: #362f2d;
}

.latest__projects-block:hover .description__name {
  color: #fbfaf8;
}

.latest__projects-block:hover .description__text {
  color: #c7b299;
}

.latest__projects-block:hover .latest__projects-img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.latest__projects-description {
  text-align: left;
  margin-top: -4px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fbfaf8;
}

.project__cattergorium {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  margin: 5px;
  background-color: #ffffff;
  padding: 4px 20px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.project__cattergorium:hover {
  background-color: #998675;
  color: #ffffff;
  cursor: pointer;
}

.description__name {
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
}

.description__text {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #d1d1d1;
}

.src-img {
  opacity: 0;
  top: 35%;
  position: absolute;
  width: 26px;
  height: 26px;
}

.link {
  left: 40%;
}

.lupa {
  right: 40%;
}

.active {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .latest__projects-subtitle {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  .latest__projects-subtitle {
    margin-left: 50px;
    margin-right: 50px;
  }
  .latest__projects-categories {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .latest__projects-subtitle {
    margin-left: 30px;
    margin-right: 30px;
  }
  .latest__projects-img {
    width: 300px;
  }
  .latest__projects-photo {
    width: 94%;
    height: 65%;
  }
}

.video__block {
  background: url("../img/video/Background.png") no-repeat;
  text-align: center;
}

.video__block-wrap {
  padding-top: 200px;
  padding-bottom: 120px;
}

.video__block-title {
  font-family: 'Raleway';
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  margin-top: 40px;
}

.video__block-text {
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 30px;
  margin-left: 340px;
  margin-right: 340px;
}

.video__block-timer {
  font-family: 'Montserrat';
  margin-top: 40px;
  color: #c7b299;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.play-icon:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .video__block-text {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 768px) {
  .video__block-text {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.mobile__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
}

.mobile__block-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile__block-title {
  color: #555555;
  font-family: 'Raleway Semibold';
  font-size: 30px;
  font-weight: 400;
}

.mobile__block-text {
  font-family: 'Montserrat';
  margin-top: 40px;
  margin-right: 185px;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.mobile__block-paragraph {
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}

.block-img:hover {
  cursor: pointer;
}

li {
  list-style: none;
  background: url("../img/mobile/arrow.png") no-repeat;
  background-position: left;
}

.list-text {
  margin: 0;
  margin-left: 50px;
}

@media (max-width: 1024px) {
  .mobile__block-text {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .mobile__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 80px;
  }
  .mobile__block-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile__block-text {
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media (max-width: 425px) {
  .block-img {
    width: 300px;
  }
  .mobile__block-title {
    text-align: center;
  }
  .mobile__block-text {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .mobile__block-paragraph {
    font-size: 14px;
  }
}

.statistics {
  background: url("../img/statistics/Background.png");
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: -4px;
}

.statistics__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.statistics__number {
  font-family: "Montserrat";
  margin-top: 30px;
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  line-height: 36px;
}

.statistics__text {
  margin-top: 20px;
  color: #c7b299;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
}

.statistics__block::after {
  content: "";
  width: 30px;
  height: 2px;
  margin: auto;
  display: block;
  margin-top: 30px;
  background: url("../img/statistics/lines.png");
}

@media (max-width: 768px) {
  .statistics__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statistics__block {
    margin-bottom: 15px;
  }
}

.block__posts {
  position: relative;
  padding-top: 80px;
  margin-bottom: 80px;
}

.block__posts-title {
  text-align: center;
  color: #555555;
  font-family: 'Raleway Semibold';
  font-size: 30px;
  font-weight: 400;
}

.block__posts-text {
  text-align: center;
  margin-right: 250px;
  margin-left: 250px;
  margin-top: 30px;
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.block__posts-slide {
  -webkit-transform: translateX(3);
          transform: translateX(3);
}

.block__post-img {
  position: relative;
}

.block__post-wrap {
  padding: 30px;
}

.block__post-wrap:hover {
  cursor: pointer;
}

.block__post-wrap:hover .block__post-title {
  color: #c7b299;
}

.block__post-wrap:hover .block__post-body {
  background-color: #362f2d;
}

.block__post-wrap:hover .block__post-text {
  color: #ffffff;
}

.block__post-wrap:hover .block__post-number {
  background-color: #c7b299;
}

.block__post-wrap:hover .block__post-month {
  background-color: #a48d72;
}

.block__post-wrap:hover .img__post {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.block__post-body {
  padding: 30px;
  margin-top: -4px;
}

.block__post-data {
  position: absolute;
  text-align: center;
  top: 10%;
  left: 5%;
}

.block__post-number {
  padding: 7px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  border-radius: 3px 3px 0 0;
  background-color: #363636;
}

.block__post-month {
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 0 0 3px 3px;
  background-color: #252525;
}

.block__post-title {
  color: #555555;
  font-family: 'Raleway';
  font-size: 20px;
  font-weight: 500;
}

.block__post-text {
  margin-top: 20px;
  color: #8c8c8c;
  font-family: 'Montserrat';
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
}

.block__post-read {
  margin-top: 25px;
  color: #c7b299;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.arrows__back {
  position: absolute;
  bottom: 0%;
  left: 47.80%;
  -webkit-filter: grayscale(3);
          filter: grayscale(3);
}

.arrows__back:hover {
  cursor: pointer;
  -webkit-filter: none;
          filter: none;
}

.arrows__forward {
  position: absolute;
  bottom: 0%;
  right: 47.80%;
  -webkit-filter: grayscale(3);
          filter: grayscale(3);
}

.arrows__forward:hover {
  cursor: pointer;
  -webkit-filter: none;
          filter: none;
}

.left__arrow {
  width: 22px;
  height: 22px;
  background: url("../img/post/left__arrow.png");
}

.right__arrow {
  width: 22px;
  height: 22px;
  background: url("../img/post/right__arrow.png");
}

.img__post {
  width: 100%;
  position: relative;
}

@media (max-width: 1024px) {
  .block__posts-slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .arrows__back {
    left: 47%;
  }
  .arrows__forward {
    right: 47%;
  }
}

@media (max-width: 768px) {
  .block__posts-text {
    margin-left: 100px;
    margin-right: 100px;
  }
  .arrows__back {
    left: 46%;
  }
  .arrows__forward {
    right: 46%;
  }
}

@media (max-width: 425px) {
  .block__posts-text {
    margin-left: 50px;
    margin-right: 50px;
  }
  .arrows__back {
    left: 43%;
  }
  .arrows__forward {
    right: 43%;
  }
}

@media (max-width: 320px) {
  .arrows__back {
    left: 42%;
  }
  .arrows__forward {
    right: 42%;
  }
}

.sponsor {
  background: url("../img/sponsor/Background.png") no-repeat;
  background-size: cover;
}

.sponsor__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 140px;
  padding-bottom: 135px;
}

@media (max-width: 1024px) {
  .sponsor__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .sponsor__block {
    margin: 20px;
  }
}

.info {
  background-color: #191919;
}

.info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.info__blocks {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.info__logo:hover {
  cursor: pointer;
}

.info__logo-text {
  color: #555555;
  margin-top: 30px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.info__read {
  margin-top: 30px;
  color: #d1d1d1;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.info__read:hover {
  cursor: pointer;
  color: #c7b299;
}

.waxom__block {
  margin-right: 20px;
}

.recent__blocks {
  padding-top: 60px;
  margin-right: 30px;
}

.twitter__block {
  padding-top: 70px;
  margin-right: 20px;
}

.twitter__block:hover {
  cursor: pointer;
}

.mobile__block {
  margin-top: -20px;
}

.recent__block {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #252525;
}

.recent__block:hover {
  cursor: pointer;
}

.recent__block:last-child {
  border: none;
}

.recent__block:hover .recent__data {
  color: #ffffff;
}

.recent__block:hover .recent__text {
  color: #c7b299;
}

.recent__title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
}

.recent__data {
  color: #363636;
  margin-top: 5px;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.recent__text {
  color: #555555;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.twitter__title {
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 700;
}

.twitter__text {
  color: #555555;
  margin-top: 10px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.twitter__time {
  color: #363636;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.twitter__message {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #252525;
}

.twitter__message:last-child {
  border: none;
}

.widget__title {
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 24px;
  font-weight: 700;
}

.widget__img-block {
  margin-top: 10px;
}

.widget__img-block:hover {
  cursor: pointer;
}

.link {
  color: #00bff3;
}

.link__two {
  color: #959595;
}

@media (max-width: 1440px) {
  .info__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .widget__img-block {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .info__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__blocks {
    margin-top: 10px;
  }
  .waxom__block {
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
  }
  .recent__blocks {
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
  }
  .twitter__block {
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
  }
  .mobile__block {
    text-align: center;
  }
  .widget__img-block {
    margin-right: 0px;
  }
}

.footer {
  background-color: #111111;
}

.footer__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #252525;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left p {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 2px solid #252525;
}

.footer__left p:last-child {
  border: none;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__right p {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 2px solid #252525;
}

.footer__right p:last-child {
  border: none;
}

.waxom {
  color: #959595;
}

.questions {
  color: #c7b299;
}

.theme {
  color: #959595;
}

.market {
  color: #959595;
}

@media (max-width: 768px) {
  .footer__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__left p {
    border-right: none;
  }
}

.img-popup {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.img-content {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1024px;
  height: 600px;
  background-color: #fff;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  overflow: auto;
}

@font-face {
  font-family: 'Raleway Extra Bold';
  src: url("../fonts/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Semibold';
  src: url("../fonts/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Thin';
  src: url("../fonts/Raleway-Thin.eot");
  src: url("../fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
}

.overlay-active {
  display: block;
}

.menu {
  display: none;
  top: -16px;
  background-color: #505C62;
  position: fixed;
  width: 100vw;
  height: 90vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: -117vw;
}

.menu_active {
  top: 5vw;
}

.menu-icon {
  margin: 5px;
}

.menu ul {
  padding: 0;
  text-align: center;
  list-style: none;
}

.menu ul a {
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 4;
  font-weight: 100;
  color: #ffffff;
  letter-spacing: 10px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu ul a:hover {
  width: 100%;
  background-color: #292F32;
}

.menu ul li {
  background: none;
  width: 100vw;
}

.menu-link_active {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 100;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.menu-link_active span {
  margin-top: -4px;
  background-color: transparent;
}

.menu-link_active span:before {
  display: block;
  height: 3px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  content: '';
  margin-top: -8px;
  background-color: #2d2d2d;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  margin-top: 0;
}

.menu-link_active span:after {
  display: block;
  height: 3px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  content: '';
  margin-top: 4px;
  background-color: #2d2d2d;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  margin-top: 0;
}

@media (max-width: 768px) {
  .menu {
    height: 70vh;
  }
  .menu ul a {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  .menu {
    background-color: #505C62;
    position: fixed;
    width: 100vw;
    height: 50vh;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: -117vw;
  }
  .menu_active {
    top: 0vw;
  }
  .menu ul {
    padding: 0;
    text-align: center;
    list-style: none;
  }
  .menu ul a {
    display: block;
    width: 100%;
    font-size: 10px;
    line-height: 4;
    font-weight: 100;
    color: #ffffff;
    letter-spacing: 5px;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .menu ul a:hover {
    width: 100%;
    background-color: #292F32;
  }
  .menu ul li {
    background: none;
    width: 100vw;
  }
}
/*# sourceMappingURL=style.css.map */