.idea
    background-color: #fbfaf8
    text-align: center
    &__wrap
        padding-top: 80px
    &__title
        margin: 0
        font-family: 'Raleway Semibold'
        color: #555555
        font-size: 30px
        font-weight: 400
    &__text
        font-family: 'Montserrat'
        font-size: 16px
        font-weight: 300
        line-height: 28px
        color: #8c8c8c
        margin-top: 25px
        margin-bottom: 40px
        margin-right: 250px
        margin-left: 250px
    &__photo
        &-slide
            margin-bottom: -4px

@media (max-width: 1440px)
    .idea
        &__photo
            &-slide
                width: 768px
@media (max-width: 768px)
    .idea
        &__photo
            &-slide
                width: 425px
        &__text
            margin-left: 100px
            margin-right: 100px
@media (max-width: 425px)
    .idea
        &__photo
            &-slide
                width: 300px
        &__text
            margin-left: 50px
            margin-right: 50px
